<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ca2os_ios.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>10</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>9AE24F9119059AA4001AEFFB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9AE24FA019059AA4001AEFFB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A1CFD777154F5EAA007447E2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
