#annotateveriwellbutton {
  list-style-image: url("chrome://annotate_veriwell/skin/annotate-logo-24-n.png");
  -moz-image-region: rect(0px 24px 24px 0px);
}

#annotateveriwellbutton:hover {
  list-style-image: url("chrome://annotate_veriwell/skin/annotate-logo-24-h.png");
  -moz-image-region: rect(0px 24px 24px 0px);
}

#annotateveriwellbutton[disabled="true"] {
  list-style-image: url("chrome://annotate_veriwell/skin/annotate-logo-24-d.png");
  -moz-image-region: rect(0px 24px 24px 0px);
}

#annotateveriwellhomebutton {
  list-style-image: url("chrome://annotate_veriwell/skin/annotate-home-logo-24-n.png");
  -moz-image-region: rect(0px 24px 24px 0px);
}

#annotateveriwellhomebutton:hover {
  list-style-image: url("chrome://annotate_veriwell/skin/annotate-home-logo-24-h.png");
  -moz-image-region: rect(0px 24px 24px 0px);
}

#annotateveriwellhomebutton[disabled="true"] {
  list-style-image: url("chrome://annotate_veriwell/skin/annotate-home-logo-24-d.png");
  -moz-image-region: rect(0px 24px 24px 0px);
}
