<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict/>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>9A1B358B16A2D7A500875A94</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9AE24D5D1904CF2F001AEFFB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9AE24D6C1904CF2F001AEFFB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
