#include "../spares/resource.h"

ID_CGCL             CA2SP                   "../../../../app/build.txt"
   
#ifdef WIN32

ID_CGCLBOOT         CA2SP                   "../../../../time/spa/x86/spa_bspatch.dll"
ID_CST              CA2SP                   "../../../../time/spa/x86/spalib.bz"
ID_CSTBOOT          CA2SP                   "../../../../time/spa/x86/spaadmin.bz"
ID_STARTACCA        CA2SP                   "../../../../time/spa/x86/spaboot.bz"

#else

ID_CGCLBOOT         CA2SP                   "../../../../time/spa/x64/spa_bspatch.dll"
ID_CST              CA2SP                   "../../../../time/spa/x64/spalib.bz"
ID_CSTBOOT          CA2SP                   "../../../../time/spa/x64/spaadmin.bz"
ID_STARTACCA        CA2SP                   "../../../../time/spa/x64/spaboot.bz"

#endif
